<link rel="stylesheet" href="/css/user_profile.css">
    <h1>
        Codeial / Profile Page
    </h1>

    <% if(locals.user.id == locals.profile_user.id) {%>
        <form action="/users/update/<%= locals.profile_user.id %>" method="POST">
            <input type="text" name="name" placeholder="Your Name" value="<%= profile_user.name %>" required>
            <input type="text" name="email" placeholder="Your Email" value="<%= profile_user.email %>" required>
            <input type="submit" value="Update">
        </form>
    <% }else{ %>
        <p><%= locals.profile_user.name %></p>
        <p><%= locals.profile_user.email %></p>
    <% } %>
   

